.main_text_d_bold {
    font-weight: bold;
}

.main_text_d_light {
    font-weight: 300;
}

.main_text_d_heavy {
    font-weight: 900;
}

.main_text_d_medium {
    font-weight: 500;
}

.main_text_d_regular {

}

.main_text_d_thin {
    font-weight: 100;
}

.main_text_t_bold_it {
    font-weight: bold;
    font-style: italic;
}

.main_text_t_bold {
    font-weight: bold;
}

.main_text_t_tight_it {
    font-weight: 300;
    font-style: italic;
}

.main_text_t_light {
    font-weight: 300;
}

.main_text_t_mediun_it {
    font-weight: 500;
    font-style: italic;
}

.main_text_t_medium {
    font-weight: 500;
}

.main_text_t_regular_it {
    font-style: italic;
}

.main_text_t_regular {

}