.title {
    margin: 0 0 0 5px;
}

:global(.rec.rec-pagination) {
    display: none;
}

:global(.rec.rec-slider-container) {
    margin: 0;
}

:global(.rec.rec-carousel-wrapper) {
    position: relative;
}

:global(.rec.rec-carousel) {
    
}