.header_link {
    text-decoration: none;
    cursor: pointer;
    color: #5c5c61;
    transition: color 0.5s ease-in-out;
    font-size: 14px;
    line-height: 20px;
}

.header_link:hover {
    color: #4f4f4f;
}

.header_link_active {
    color: #B5B5B7;
    text-decoration: underline;
    font-size: 14px;
    line-height: 20px;
}