.box {
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0 0 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 393px;
  max-height: 90px;
  height: calc((100vw*90)/1440);
  min-width: 240px;
  font-weight: 500;
  font-size: calc((100vw*18)/1440);;
  line-height: 24px;
  text-align: center;
}

.text {
  margin-right: 40px;
  margin-left: 12px;
}

.box--tasks {
  background-color: #FFE1BD;
}

.box--awaiting {
  background-color: #FFDDE5;
}

.box--work {
  background-color: #C2E5CE;
}

.highlight_span {
  margin-right: 15px;
}

@media (max-width: 1280px) {
  .box {
    text-align: left;
    line-height: 18px;
  }
}

@media (max-width: 1200px) {
  .box {
    font-size: 15px;
  }
}

@media (max-width: 1080px) {
  .box {
    height: 65px;
  }
}