.main {
    display: flex;
    flex-direction: column;
    width: 1300px;
    /* width: calc(100vw - (140px + 100vw/10)); */
    /* margin-left: calc(100vw/40); */
    /* margin-top: 72px; */
    margin: 72px auto 0 auto;
}

@media (max-width: 1530px) {
  .main {
    margin-left: 40px;
    margin-top: 72px;
  }
}
