.main {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 197.5px);
    /* max-width: 1300px; */
    /* width: calc(100vw - (140px + 100vw/10)); */
    /* margin-left: calc(100vw/40); */
    /* margin-top: 72px; */
    margin-top: 72px;
    margin-left: 40px;
}

/* @media (max-width: 1519px) {
    .main {
        width: 1260px;
        margin-left: 40px;
        margin-top: 72px;
    }
} */