.header_background {
    background-color: #1A1B22;
    width: calc(100vw - 157.5px);
    height: 72px;
    display: flex;
    color: white;
}

.header_content {
    width: 100%;
    margin-left: 8px !important;
}

.icon_avatar {
    width: 40px;
    border-radius: 50%;
}